# Godot-specific
.import/
.export/
.godot/
*.import
*.tmp
*.converted.*
*.translation
*.godot
*.godot-export-*   # optional export files
*.uid              # Godot 4 的资源唯一 ID

# System files
.DS_Store
Thumbs.db
